# Ignore node_modules and npm debug log
node_modules
npm-debug.log

# Ignore git files and directories
.git
.gitignore

# Ignore environment and configuration files
.env
.DS_Store

# Ignore Docker-related files
Dockerfile
docker-compose.yml
